<!DOCTYPE html>
<html>
<head>
  <title>Turbo train test</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "turbo/train/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
